@import url('https://fonts.googleapis.com/css2?family=Quantico&family=Tourney:wght@100&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%; /*hace que body ocupe 100% del HTML*/
}

body{
    color:white;
    text-shadow: 2px 4px 8px black;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size:cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    min-height: 100%; /*ocupa 100% de la pantalla*/
}

.contenedor > *{
    box-shadow:-1px 1px 7px 0px black;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    
}

.encabezado{
    font-family: 'Tourney', cursive;
    grid-area: header; /*identifico cada grid area*/
    background-color: rgba(16, 141, 214, 0.651);
    text-shadow: 2px 4px 8px rgb(0, 0, 0);
}

.principal{
    font-family: 'Quantico', sans-serif;
    grid-area: main; /*identifico cada grid area*/
    background-color: rgba(30, 30, 43, 0.61);
    
}

.contenedorGal{
    grid-area: galery; /*identifico cada grid area*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*se asigna tamaño a las columnas dependiendo del pixelado de la pagina*/
    /*importante, si son mas de 4 imagenes colocar autofill no autofit*/
    grid-auto-rows: 250px; /*se ajusta tamaño de las filas*/
    gap: 20px;
    padding:20px;
    
}

.galeria{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.galeria:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}

.foto1{
    background-image: url(../images/galeria1.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
}

.foto2{
    background-image: url(../images/galeria2.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
}

.foto3{
    background: url(../images/galeria3.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
}


.piePag{
    grid-area: footer; /*identifico cada grid area*/
    background-color: rgba(0, 44, 70, 0.651);
    font-family: 'Quantico', sans-serif;
    text-align: right;
}

.contenedor{
    display: grid; /*visualiza en grid el contenedor*/
    gap: 20px;  /*da separacion*/
    grid-template-areas: /*defino el nombre y ubicacion de las areas*/
        "header"
        "main"
        "galery"
        "footer"
    ;
}

#inpuntCantidad{
    width: 10%;
    padding: 5px;
    text-align:center;
}

#btnEnviar{
    border-radius: 20px 20px;
    padding: 5px;
    
}

#btnEnviar:hover{
    transform:scale(1.2);
}

#btnDesc{
    border-radius: 20px 20px;
    padding: 5px;
    
}

#btnDesc:hover{
    transform:scale(1.02);
}

#inputDesc{
    width: 10%;
    margin:5px;
    text-align:center;
}



@media (min-width: 600px){/*diseño responsive:modo tablet*/

        .principal{
            margin: 50px;
        }

        .encabezado{
            margin: 15px;
        }

        .piePag{
            margin: 15px;
        }
    }